[submodule "external/zstd"]
	path = external/zstd
	url = https://github.com/facebook/zstd.git
[submodule "external/lzma"]
	path = external/lzma
	url = https://github.com/chemfiles/lzma.git
[submodule "external/xdelta"]
	path = external/xdelta
	url = https://github.com/honkstar1/xdelta.git
