# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Generated PDBs
*.pdb

#User files
*.user

# CMake
*.cmake
CMakeFiles/
CMakeCache.txt
CMakeSettings.json

#IDE settings
.vscode/
.vs/
*.vcxproj
*.vcxproj.filters
*.sln

#Exclude files in the config directories
Release/
Debug/
build/
